python-dotenv
langchain-community
langchain-chroma
langchain-experimental
langchain-openai
langchain-ollama
langchain
pgvector
psycopg2-binary
ipykernel
chromadb
typer[all]
pandas
pypdf
ollama
unstructured[all-docs]
pydantic
rank_bm25

fastapi
uvicorn
